.main-product {
    --col-align: center;
    --color-text: var(--system-color-pale);
    --sm-circle: var(--sm, 37%);
    --md-circle: var(--md, 53%);
    --xl-circle: var(--xl, 87%);
    --circle-clr: hsla(0, 0%, 85%, 0.3);
    --link-fill: var(--system-color-dark);
    --link-hover-fill: hsl(0, 0%, 30%);
    --outline-clr: var(--color-fill);
    background: radial-gradient(circle at var(--bg-pos, left 50% top 31%),
            #0000 var(--sm-circle),
            var(--circle-clr) var(--sm-circle),
            var(--circle-clr) calc(var(--sm-circle) + 2px),
            #0000 calc(var(--sm-circle) + 3px),
            #0000 var(--md-circle),
            var(--circle-clr) var(--md-circle),
            var(--circle-clr) calc(var(--md-circle) + 2px),
            #0000 calc(var(--md-circle) + 3px),
            #0000 var(--xl-circle),
            var(--circle-clr) var(--xl-circle),
            var(--circle-clr) calc(var(--xl-circle) + 2px),
            #0000 calc(var(--xl-circle) + 3px)) var(--system-color-orange);

    text-align: center;


}

:is(.main-product, .product-2) {
    --radius: .5rem;
    isolation: isolate;

    & a {
        --radius: initial;
    }
}

a:where(:is(.main-product, .hero, .product-2, .third-product) *) {
    --min-padding: .75rem;
    --color-fill: var(--link-fill, var(--system-color-orange));
    display: inline-block;
    text-decoration: none;

    &:is(:focus-visible, :hover) {
        --color-fill: var(--link-hover-fill, var(--system-color-paleOrange));
        --color-text: var(--link-hover-clr, currentColor);
    }
}

:is(.hero, .product-2) {
    display: grid;
    grid-template-areas: "center";
    container: hero / inline-size;

    &>* {
        grid-area: center;
        place-self: center;
    }

}

:is(.hero, .product-2, .third-product) > img {
    max-block-size: var(--img-h, 408px);
    min-inline-size: var(--img-w, 100%);
    object-fit: cover;
    object-position: var(--img-position, 47% 41%);
    aspect-ratio: 1;
}

.product-2 {
    --img-position: 20% 80%;
    --img-w: min(1110px, 100vi);
    --img-h: 320px;
    clip-path: inset(0 round .5em);

    &>div {
        justify-self: start;
        padding-inline: 1.5em 0;
        border-image: linear-gradient(hsla(0, 0%, 100%, 0.3), hsla(0, 0%, 100%, 0.25)) 1 fill / 0 /160px 1.5em;
    }
}

:is(.product-2, .third-product) {
    --min-padding: 0;
    --link-fill: transparent;
    --link-hover-fill: var(--system-color-dark);
    --link-hover-clr: var(--system-color-pale);

    & a {
        --outline-clr: var(--system-color-dark);
        border: solid 2px var(--link-hover-fill);
    }
}

.third-product {
    --img-h: 200px;
    --img-position: left 50% bottom 48%;

    & > * {
        flex-grow: 2;
        border-radius: .5rem;
    }
    & > div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: start;
        padding: 2.5em 1.5em;
        background-color: hsl(0, 0%, 94%);
    }
}

.hero {
    --idiomatic-clr: var(--system-color-paleOrange);
    --idomatic-spacing: .5em;
    --col-align: center;
    text-align: center;
    border-image: var(--section-bdr-img);

    &>div {
        border-image: var(--bdr-img, radial-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3)) 1 fill / 0/ 1.5em 0);
    }
}

@media screen and (min-width: 768px) {
    .main-product {
        --col-dir: row;
        --i-alignment: space-between;
        --p-width: 25em;
        --bg-pos: left 25% bottom 31%;
        --sm: 20%;
        --md: 37%;
        padding: 1.5rem 3rem;
        overflow: clip;
        text-align: start;

        &>img {
            flex-basis: 279px;
            margin-block-end: -2em;
        }
    }

    .hero {
        --col-align: start;
        --min-padding: 1.5em 0;
        --img-w: 408px;
        --bdr-img: none;
        text-align: start;
        display: flex;
        flex-flow: row-reverse nowrap;
        gap: 1rem;
    }
    .third-product {
        --col-dir: row;
        --img-w: 50%;
        --img-h: 320px;
        --f-size-fluid: 3cqi;
    }

}
