
.f-product {
    --col-align: center;
    --radius: .5rem;
    --color-text: var(--system-color-pale);
    --sm-circle: var(--sm, 37%);
    --md-circle: var(--md, 53%);
    --xl-circle: var(--xl, 87%);
    --circle-clr: hsla(0, 0%, 85%, 0.3);
    background: radial-gradient(circle at var(--bg-pos, left 50% top 31%),
            #0000 var(--sm-circle),
            var(--circle-clr) var(--sm-circle),
            var(--circle-clr) calc(var(--sm-circle) + 2px),
            #0000 calc(var(--sm-circle) + 3px),
            #0000 var(--md-circle),
            var(--circle-clr) var(--md-circle),
            var(--circle-clr) calc(var(--md-circle) + 2px),
            #0000 calc(var(--md-circle) + 3px),
            #0000 var(--xl-circle),
            var(--circle-clr) var(--xl-circle),
            var(--circle-clr) calc(var(--xl-circle) + 2px),
            #0000 calc(var(--xl-circle) + 3px)) var(--system-color-orange);

    text-align: center;

    & a {
        --link-fill: var(--system-color-dark);
        --link-hover-fill: hsl(0, 0%, 30%);
        --radius: initial;
        --outline-style: dashed;
        --outline-clr: var(--color-fill);
    }

}
a:where(.f-product *, .hero *) {
    --min-padding: .75rem;
    --color-fill: var(--link-fill, var(--system-color-orange));
    display: inline-block;
    text-decoration: none;

    &:is(:focus-visible, :hover) {
        --color-fill: var(--link-hover-fill, var(--system-color-paleOrange));
        --color-text: var(--link-hover-clr, currentColor);
    }
}

.hero {
    --idiomatic-clr: var(--system-color-paleOrange);
    --idomatic-spacing: .5em;
    --col-align: center;
    display: grid;
    grid-template-areas: "center";
    container: hero / inline-size;
    text-align: center;

    & > * {
        grid-area: center;
        place-self: center;
    }

    & > div {
        border-image: var(--bdr-img, radial-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3))  1 fill / 50% / 2rem 0);
    }
    & > img {
        max-block-size: var(--img-h, 408px);
        min-inline-size: var(--img-w, 100%);
        object-fit: cover;
        object-position: 48% 35%;
    }

}

@media screen and (min-width: 768px) {
    .f-product {
        --col-dir: row;
        --i-alignment: space-between;
        --p-width: 25em;
        --bg-pos: left 25% bottom 31%;
        --sm: 20%;
        --md: 37%;
        padding: 1.5rem 3rem;
        overflow: clip;
        text-align: start;

        &>img {
            flex-basis: 279px;
            margin-block-end: -2em;
        }
    }
    .hero {
        --col-align: start;
        --min-padding: 1.5em 0;
        --img-w: auto;
        --img-h: auto;
        --bdr-img: none;
        text-align: start;
        display: flex;
        flex-flow: row-reverse nowrap;
        gap: 1rem;
    }

}
