@layer resets, layout,
typography,
utilities,
theme;

@font-face {
    font-family: "Just";
    src: url("./assets/JUST Sans Variable.ttf") format("truetype");
    font-weight: 300 900;
    font-feature-settings: "dlig" on, "ordn" on, "ss02" on;
    font-display: swap;
}

body {
    --section-bdr-img: linear-gradient(var(--system-color-dark), var(--system-color-dark)) 1 fill / 0 / 1.5em 100vi 0;
    margin: 0;
    font-family: "Just", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    line-height: 1.5;
    letter-spacing: .01em;
    word-spacing: 0.05em;
    accent-color: var(--system-color-orange);
}

@layer typography {
    :is(h1, h2, h3, h4, h5, p, dt, dd, legend, .fluid-type, footer a) {
        font-size: clamp(var(--f-size, 1rem) * clamp(0.5, 1 - var(--f-size-diff, 0.3), 0.9),
                var(--f-size-fluid, var(--default-fluid, 3vw)),
                var(--f-size, 1rem));
    }

    :is(h1, h2, h3, h4, h5, dt) {
        text-transform: uppercase;
    }

    h1 {
        --f-size: 3.5rem;
        --f-size-diff: 0.4;
    }

    h2 {
        --f-size: 2.5rem;
        --f-size-diff: 0.45;
    }

    :is(h3, h4, legend) {
        --f-size: 1.75rem;
    }

    h5 {
        --f-size: 1.125rem;
    }

    .caption-text {
        color: hsl(0, 0%, 40%);
    }

    @supports (font-size: 1cqi) {
        :is(h1, h2, h3, h4, p, dt, dd, .fluid-type, footer a) {
            --default-fluid: 5cqi;
        }
    }
}

@layer resets {
    :is(*, ::before, ::after) {
        box-sizing: border-box;
    }

    :is(h2, h3, h4, h5) {
        line-height: 1.2;
        overflow-wrap: break-word;
        hyphens: auto;
        letter-spacing: -0.01em;
    }

    h1 {
        line-height: 1.1;
        letter-spacing: 0.04em;
    }

    :is(body, h1, h2, h3, h4, h5, dl, dt, dd, p) {
        margin: 0;
    }

    img {
        max-inline-size: 100%;
        height: auto;
        display: block;
    }

    :is(ul, ol, fieldset, legend, menu) {
        margin: 0;
        padding: 0;
    }

    :is(summary, ul):where([class]) {
        list-style: none;
    }

    :is(button, fieldset) {
        border: none;
    }

    dialog {
        position: fixed;
        inset: 0;
        margin: auto;
        container: dialog / inline-size;
        inline-size: min(540px, 90vi);
        border: none;
    }

    dialog[open] {
        transform: scale(1);
    }

    dialog::backdrop {
        background-color: hsla(0, 0%, 0%, 0.8);
    }


    a:not([class]) {
        --outline-style: dashed;
        text-decoration-thickness: max(0.08em, 1px);
        text-underline-offset: 0.15em;
        color: var(--link-clr, inherit);
    }

    a:not([class]):where(:focus-visible, :hover) {
        color: var(--system-color-paleOrange);
        text-decoration: currentColor wavy underline;
    }

    button:not(.reset-btn) {
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        touch-action: manipulation;
        user-select: none;
    }

    :focus-visible {
        --outline-size: max(2px, .3em);
        outline: var(--outline-width, var(--outline-size)) var(--outline-style, solid) var(--outline-clr, currentColor);
        outline-offset: var(--outline-offset, var(--outline-size));
    }

    :target {
        scroll-margin-block-start: 2rem;
    }

    :focus {
        scroll-margin-block-end: 8vh;
    }

    input:where([type="text"], [type="email"], [type="tel"]) {
        --outline-offset: .05em;
        padding: 0.75em;
        line-height: inherit;
        caret-color: var(--system-color-orange, currentColor);
        border-radius: .5rem;
        border: .1em solid var(--bdr-clr, hsl(0, 0%, 81%));
        inline-size: 100%;
        font-weight: 500;

        &:hover {
            --bdr-clr: var(--system-color-paleOrange);
        }

        &:focus-visible:not(:is(:invalid):not([data-new])) {
            --bdr-clr: var(--system-color-orange);
            --outline-clr: var(--system-color-orange);
        }
    }

    :is(a, button, input):focus:not(:focus-visible) {
        outline: none;
    }

    p:where(:not([class])) {
        text-wrap: balance;
        max-inline-size: var(--p-width, 50em);
    }
}

@layer utilities {
    .capitalize {
        text-transform: capitalize;
    }

    .relative {
        position: relative;
    }

    .no-shrink {
        flex-shrink: 0;
    }

    :is(.not-empty:empty, .not-empty-sibling:where(.not-empty:empty ~ *), :has(* ~ .not-empty:empty)) {
        display: none;
    }

    .not-empty:not(:empty)~.empty {
        display: none;
    }

    .empty {
        container: empty-state / inline-size;
        text-align: center;
    }

    .item-grid {
        --g-template: "area4 . ." 1px "area4 area1 area3" "area4 area2 ." / max-content 1fr;
        --g-gap: .4rem 1rem;

        &> :is(p, span) {
            color: var(--items-clr, hsl(0, 0%, 43%));
        }
    }

    :where(.reset-btn) {
        text-decoration: underline;
    }

    dialog:not([open]) {
        transform: scale(0);
    }


    [data-icon-position="start"]::before,
    [data-icon-position="end"]::after {
        content: "";
        min-inline-size: var(--icon-size, 1.5em);
        aspect-ratio: var(--icon-ratio, 1);
        display: inline-block;
        background-color: var(--icon-fill, currentColor);
        transform: var(--icon-transform, none);
        clip-path: var(--icon-clip, none);
        align-self: var(--icon-align, self-start);
    }

    [data-icon-position="start"]:where(:enabled, a):where(:hover, :focus-visible)::before,
    [data-icon-position="end"]:where(a, :enabled):where(:hover, :focus-visible)::after {
        --icon-fill: var(--icon-fill-hover, currentColor);
        --icon-transform: var(--icon-hoverTransform, inherit);
    }

    :is([data-icon="arrow_left"], [data-icon="arrow_right"]) {
        --icon-clip: url(#arrow_left);
        --icon-transform: var(--i-trans, none);
        --icon-hoverTransform: var(--i-h-trans, translateX(0.5em));
    }

    [data-icon="arrow_right"] {
        --i-trans: rotate(180deg);
        --i-h-trans: var(--i-trans) translateX(0.5em);
    }

    [data-icon="cross"] {
        --icon-clip: url(#cross);
        --icon-size: 2rem;
        --icon-fill-hover: var(--system-color-softRed);
    }

    [data-icon="plus"] {
        --icon-clip: url(#plus);
    }

    [data-icon="minus"] {
        --icon-clip: url(#minus);
    }

    [data-icon="check-circle"] {
        --icon-clip: url(#check-circle);
    }

    :is(.input-step, [data-payment="mobile"]) {
        container: input-step /inline-size;

        & label {
            text-transform: capitalize;
        }

        &>div:not([data-payment], [class$="grid"]) {
            display: flex;
            flex-flow: column-reverse nowrap;
        }
    }

    a {
        --outline-style: dashed;
        text-transform: uppercase;
        font-weight: 700;
    }

    :is(i, legend) {
        color: var(--idiomatic-clr, var(--system-color-orange));
        letter-spacing: var(--idomatic-spacing, inherit);
        text-transform: uppercase;
        font-style: normal;
    }

    img:where(.categories *) {
        border-image: radial-gradient(hsla(0, 0%, 0%, 0.4) 15%, #0000 70%) var(--s, 0% 50% 100%) / 50% /0 15px 20px;
    }

    a:where(:is(.categories, nav) *) {
        text-decoration: none;
        display: inline-flex;
        align-items: center;
    }

    :where([aria-hidden="true"], .visually-hidden, .xl-show, .pm-grid input[type="radio"]) {
        position: absolute;
        clip-path: inset(50%);
    }

    .item-counter {
        --min-padding: 0;
        --icon-fill: hsl(0, 0%, 32%);
        --icon-fill-hover: var(--system-color-orange);
        --radius: 0;
        --color-fill: transparent;
        background-color: hsl(0, 0%, 80%);
        display: inline-flex;
        gap: .75rem;
        padding: .675em;

        &>input {
            max-inline-size: 3rem;
            border: none;
            text-align: center;
            padding: 0;
            font-weight: bold;
            color: inherit;
            background-color: transparent;
        }
    }

    .xl-show {
        --wrap: wrap;
        visibility: hidden;
    }

    button.xl-remove[aria-pressed="true"] {
        --m: 0 70;
        --so: -41;
        --c: 53, 42;
    }

    button:not(:enabled) {
        color: hsl(0, 0%, 75%);
    }

    :where([data-cart]:is(:focus-visible, :hover), [aria-pressed="true"], .categories) {
        --icon-fill: var(--system-color-orange);
    }

    .categories {
        --outline-clr: var(--system-color-dark);
        --c-space: 2.5rem;
        --min-padding: 1em;
        --f-size-diff: .4;
        --link-clr: hsl(0, 0%, 43%);
        padding: 2.5em 1.5em 1.5em;
        background-color: var(--system-color-white);
        inline-size: var(--size, 100%);
        border-radius: 0 0 .5rem .5rem;

        & a::before {
            content: "";
            position: absolute;
            inset: 0;
        }


    }

    :where([data-menu-opened] .categories, [role="dialog"]) {
        position: fixed;
        transform: var(--translation, translateX(-50vmax));
        opacity: 0;
        visibility: hidden;
    }

    [role="dialog"] {
        --outline-clr: var(--system-color-dark);
        inline-size: var(--modal-size, auto);
        inset-block-start: var(--y, auto);
        inset-inline-end: var(--right-x, auto);
    }

    [data-menu-opened="true"] .categories {
        --translation: none;
        --size: 100vi;
        opacity: 1;
        z-index: 2;
        inset: 3.2rem 0 auto;
        visibility: visible;

    }

    :is([data-cart-active="true"], [data-menu-opened="true"]) nav::before {
        content: "";
        position: fixed;
        inset: 3.5rem 0 0;
        background-color: hsla(0, 0%, 0%, 0.4);
        z-index: 1;
    }

    .cart-modal {
        --y: 129px;
        --right-x: clamp(5vi, calc(1110px - 100vi), 5vi);
        --color-fill: var(--system-color-white);
        --radius: .5rem;
        --modal-size: min(88vi, 377px);
        --translation: translateY(-50vb);
        --c-space: 1rem;
    }

    [data-cart-active="true"] .cart-modal {
        --translation: none;
        opacity: 1;
        visibility: visible;
        z-index: 2;
    }

    .branding>img {
        border-radius: .5rem;
        align-self: stretch;
        max-block-size: var(--img-h, 300px);
        min-inline-size: var(--img-w, 100%);
        object-fit: cover;
        object-position: top 2% left 5%;
    }

    .no-gap {
        --r-space: 0;
    }

    :is(.no-padding, .reset-btn) {
        --min-padding: 0;
        --radius: 0;
    }

    [data-cart="reduced"] {
        --delta: -0.4;
    }

    [data-cart] {
        --min-padding: 0;
        margin-inline-start: var(--cart-margin, auto);
        position: relative;

        &:is([data-items])::before {
            content: attr(data-items);
            display: inline-grid;
            place-items: center;
            color: var(--system-color-pale);
            background-color: var(--system-color-orange);
            border-radius: 50%;
            position: absolute;
            inline-size: 1.5em;
            aspect-ratio: 1;
            inset-inline-start: calc(50% - .4em);
            inset-block-start: -1.6em;
            font-size: .75em;
            padding: .125em;
        }
    }

    :where(.categories > article, .branding) {
        container: section / inline-size;
    }

    .categories>article {
        --color-fill: hsl(0, 0%, 94%);
        --radius: .5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &> :first-child {
            margin-block-start: -3em;
        }
    }

    :is(main, footer, nav, .main-content) {
        max-inline-size: min(95vi, 1110px);
        margin-inline: auto;
    }

    .pm-grid {
        --g-template: "area1" "area2" "area3";
        --min-padding: 1rem;
        --radius: .5rem;
        --r-space: 1rem;

        & label {
            display: inline-flex;
            align-items: center;
            gap: 1rem;

            &::before,
            &::after {
                content: "";
            }

            &::after {
                position: absolute;
                inset: 0;
                border: 2px solid var(--bdr-fill, var(--bdr-clr, var(--system-color-gray)));
                border-radius: .5rem;
            }

            &::before {
                inline-size: 1.5rem;
                aspect-ratio: 1;
                border-radius: 50%;
                border: 2px solid var(--system-color-gray);
                background-image: radial-gradient(var(--bdr-fill, #0000) 45%, #0000 45%);
            }
        }

        & label:where(:hover, input[type="radio"]:focus-visible ~ *) {
            --bdr-clr: var(--system-color-paleOrange);
        }

        & input[type="radio"]:checked~label {
            --bdr-fill: var(--system-color-orange);
        }


    }

    [data-payment="mobile"]:not([data-mobile-selected] *) {
        display: none;
    }

    [data-payment="cash"]:not([data-cash-selected] *) {
        display: none;
    }

    @media screen and (min-width: 480px) {
        .pm-grid {
            --g-template: "area1 area1" "area2 area3";
        }

        .categories {
            --col-dir: row;
            --c-space: 10px;

            &>* {
                flex-grow: 2;
            }
        }

    }

    @media screen and (min-width: 768px) {
        .categories {
            --c-space: 2.5rem;
        }

        .xl-show {
            position: static;
            clip-path: none;
            visibility: visible;
        }

        .branding {
            --col-dir: row-reverse;
            --col-align: center;
            --p-width: 28rem;
            --f-size-diff: 0.5;
            --i-alignment: space-between;
            --img-w: 40cqi;
            --img-h: 100%;
            min-block-size: 500px;
        }
    }
}

@layer theme {
    :root {
        --system-color-dark: hsl(0, 0%, 6%);
        --system-color-orange: hsl(21, 71%, 44%);
        --system-color-paleOrange: hsl(21, 94%, 75%);
        --system-color-pale: hsl(0, 0%, 98%);
        --system-color-gray: hsl(0, 0%, 75%);
        --system-color-black: hsl(0, 0%, 0%);
        --system-color-white: hsl(0, 0%, 100%);
        --system-color-softRed: hsl(0, 71%, 47%);
    }

    [data-icon-theme="neutral"] {
        --icon-fill: var(--system-color-gray);
    }

    [data-icon-theme="primary"] {
        --icon-fill: var(--system-color-orange);
    }

    [data-outline-color ="dark"] {
        --outline-clr: var(--system-color-dark);
    }

    .btn-primary {
        --color-fill: var(--system-color-orange);
        --color-text: var(--system-color-white);
        --radius: 0;
        --min-padding: var(--btn-padding, 1em);
        text-decoration: none;
        text-align: center;

        &:is(:focus-visible, :hover) {
            --color-fill: var(--system-color-paleOrange);
        }
    }

    .img-box {
        --color-fill: hsl(0, 0%, 94%);
        --radius: .5rem;
        --min-padding: .5rem;
        inline-size: 4rem;
        aspect-ratio: 1;
    }
}

@layer layout {
    .stack>*+* {
        margin-block-start: var(--s-space, 1.5em);
    }

    :is(.row, .column, .segragator, .cart-modal) {
        display: flex;
        align-items: var(--alignment, center);
        gap: var(--r-space, var(--c-space, 1.5em));
        justify-content: var(--i-alignment, start);
    }

    .segragator {
        --i-alignment: space-between;
        flex-flow: var(--direction, row) var(--wrap, nowrap);
    }

    .row {
        --alignment: var(--row-align, center);
        flex-flow: var(--row-dir, row) var(--wrap, nowrap);
    }

    :where(.column, .cart-modal) {
        --alignment: var(--col-align, stretch);
        flex-flow: var(--col-dir, column) var(--wrap, nowrap);
    }

    .self-end {
        align-self: end;
        margin-inline-start: auto;
    }

    step-by-step {
        --c-space: 1em;
        position: relative;
        display: block;

        &>* {
            transform: translateX(calc((var(--i) - var(--current)) * 100%));
        }

        &>.step-out {
            position: fixed;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
        }
    }

    :is(.center, .img-box) {
        display: grid;
        place-items: center;
        place-content: center;
        gap: var(--s-space, var(--c-space, 1.5em));
    }

    :is(header, footer, main, .box, .img-box, button, .btn-primary, .cart-modal, .main-content) {
        padding: var(--min-padding, 1.5em);
        background-color: var(--color-fill, transparent);
        color: var(--color-text, currentColor);
        border-radius: var(--radius, 0);
    }

    :is([class$="grid"], footer) {
        --col-align: center;
        display: grid;
        grid-template: var(--g-template);
        container: var(--container-name, grid) / inline-size;
        gap: var(--g-gap, 1rem);

        &> :first-child {
            grid-area: area1;
        }

        &> :nth-child(2) {
            grid-area: area2;
        }

        &> :nth-child(3) {
            grid-area: area3;
        }

        &> :nth-child(4) {
            grid-area: area4;
        }

        &> :nth-child(5) {
            grid-area: area5;
        }
    }

    :is(footer, header) {
        --color-text: var(--system-color-white);
        --color-fill: var(--system-color-dark);
    }

    footer {
        --min-padding: 2em 1.5em 1.5em;
        --g-template: ". area1 ." ". area2 ." "area3 area3 area3" "area4 area4 area4" "area5 area5 area5";
        --c-space: .75rem;
        border-image: linear-gradient(var(--system-color-dark), var(--system-color-dark)) 1 fill / 50%/ 0 100vi;
    }

    footer::before {
        content: "";
        position: absolute;
        inline-size: 101px;
        block-size: 4px;
        background: var(--system-color-orange);
        inset-inline-start: var(--deco-pos, calc(50% - 50.5px));
    }

    footer>p:last-of-type {
        text-transform: capitalize;
    }

    nav {
        --min-padding: 1.5em 0;
        --color-text: var(--system-color-pale);
        border-image: var(--section-bdr-img);
        position: sticky;
        inset-block-start: 0;
        z-index: 1;
        isolation: isolate;

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-image: linear-gradient(hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0.4)) 0 0 20% / 2px / 0 var(--deco-outset, 100vi);
            z-index: -1;
        }
    }

    @media screen and (min-width: 480px) {
        nav {
            --deco-outset: 1px;
        }

        footer {
            --deco-pos: 0;
            --min-padding: 1.5em 0;
            --col-dir: row;
            --g-template: "area1 area1 area1" "area2 area2 area2" "area3 area3 area3" "area4 area4 area5" / 1fr 1fr max-content;

        }
    }

    @media screen and (min-width: 768px) {
        .xl-remove {
            display: none;
        }

        footer {
            --g-template: "area1 area2 area2" "area3 area3 ." "area3 area3 area5" "area4 area4 ." / 1fr 1fr;
        }

        footer>ul {
            justify-self: end;
        }

        nav {
            --i-alignment: space-between;
            --cart-margin: 0;
        }

    }
}

@media (prefers-reduced-motion: no-preference) {
    button.xl-remove {
        --h-transition: stroke-dasharray .6s cubic-bezier(.25, .1, .3, 1.5),
            stroke-dashoffset .6s cubic-bezier(.25, .1, .3, 1.5);
    }

    :is([data-cart="added"], [data-cart="reduced"]):where([data-items])::before {
        animation: jiggle .35s cubic-bezier(.25, .1, .3, 1.5) forwards;
    }

    a,
    [data-icon-position="start"]::before,
    [data-icon-position="end"]::after {
        transition: all 0.35s ease-out;
    }

    :is(.categories, .cart-modal, dialog) {
        transition: opacity 0.1s ease-out, transform 0.35s 0.1s cubic-bezier(.25, .1, .3, 1.5);
    }

    step-by-step>* {
        transition: transform .35s ease-out;
    }

}

@keyframes jiggle {

    20%,
    60%,
    80% {
        transform: scale(calc(1 + var(--delta, 0.4)));
    }

    from,
    40%,
    to {
        transform: scale(1);
    }
}
